wp-demo/www/html/wp-admin/*
wp-demo/www/html/wp-includes/*
wp-demo/www/html/wp-content/themes/twentytwentyone/*
wp-demo/www/html/wp-content/themes/twentytwentytwo/*
wp-demo/www/html/wp-content/themes/twentytwentythree/*